<template lang='pug'>
  #CaptureAudio
    .audio: audio(
      :src="currAudio"
      controls
      v-if="showAudio"
    )
    .controller
      .row
        .btn(@click="record" v-if='!showAudio && !recording') 录音
        .btn(@click="stop" v-if="recording") 停止
        .btn(@click="recordAgain" v-if='showAudio') 重录
        .btn(@click="saveAndExit" v-if='showAudio') 保存
      .row(v-if='recording')
        div 剩余录制时间 {{Math.floor(remainTime/60)}}:{{Math.floor(remainTime%60)}}
    canvas(ref="canvas" v-show="false")
    c-Loading(v-show="uploading" text="音频上传中, 请稍等...")
</template>

<script>
  import {mapState} from "vuex"

  export default {
    name: "CaptureAudio",
    data () {
      return {
        chunks: [],
        recording: false,
        currAudio: null, // 当前录制的视频路径
        currBlob: null, // 当前视频二进制
        recorder: null, // MediaRecorder
        uploading: false, // 上传中
        showAudio: false, // 显示播放器
        interval: null, // 计时器
        totalTime: 60 * 3, // 剩余总时间
        remainTime: 60 * 3, // 剩余录制时间
      }
    },
    computed: {
      ...mapState({
        chosenChapter: state => state.chapter.chosen
      })
    },
    mounted () {
      if (!navigator.mediaDevices) {
        alert('您的浏览器不支持获取用户设备');
        this.$router.back()
        return;
      }
      if (!window.MediaRecorder) {
        alert('您的浏览器不支持录音');
        this.$router.back()
        return;
      }
      this.requestAccess()
    },
    methods: {
      // 获取设备权限
      requestAccess() {
        let constraints = {
          audio: {
            sampleRate: 48000,
            channelCount: 0, // 0 捕获所有支持的声道 1 单声道 2 立体声
            volume: 1, // 0~1
            noiseSuppression: true, // 抑制背景噪音
          },
          video: false
        }
        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
          this.recorder = new window.MediaRecorder(stream);
          console.log("recorder", this.recorder)
          this.recorder.ondataavailable = this.getRecordingData;
          this.recorder.onstop = this.saveRecordingData;
        }, error => {
          alert(error);
        });
      },

      // 获取录制数据
      getRecordingData (e) {
        console.log("getRecordingData", e)
        this.chunks.push(e.data)
      },

      async saveRecordingData () {
        clearInterval(this.interval)
        this.remainTime = this.totalTime
        this.showAudio = true
        this.recording = false
        let blob = new Blob(this.chunks, { 'type' : 'audio/ogg; codecs=opus' })
        this.currBlob = blob
        console.log("blob", blob)
        console.log("blob.size", blob.size)
        this.currAudio = URL.createObjectURL(blob)
        console.log(this.currAudio)
        this.chunks = []
        await this.save()
      },

      // 录制
      record () {
        this.recording = true
        this.recorder.start();
        this.interval = setInterval(() => {
          -- this.remainTime
          if (this.remainTime <= 0 ) {
            clearInterval(this.interval)
            this.remainTime = this.totalTime
            this.stop()
          }
        }, 1000)
      },

      // 重录
      recordAgain () {
        this.showAudio = false
        this.currAudio = null
        this.record()
      },

      // 停止
      async stop () {
        this.recorder.stop();
      },

      // 上传到OSS
      async save () {
        this.uploading = true
        let res = await this.$utils.uploadToOss(this.currBlob, [], 'audio', {ext: '.mp3'})
        this.currAudio = res.url
        this.uploading = false
      },

      // 保存并退出
      async saveAndExit () {
        await this.$postData('addRes', {
          resPath: this.currAudio, // 资源路径
        })
        this.$router.back()
      },

    }
  }
</script>

<style scoped lang='stylus'>
  .audio
    audio
      width: 100%
  .controller
    margin-top: 1em
    .row
      display: flex
      justify-content space-around
      margin-top: .2rem
      &.camera
        display: flex
        justify-content: flex-start
        align-items: center
        .text
          margin-right: 1em
          font-size: 1.2em
      .btn
        width: 2rem
        height: 2rem
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba(35,184,255,1)
        color: #fff
        border-radius: 50%
        font-size: .6rem
</style>
